@import '../../../style/colors.scss';
@import '../../../style/mixins.scss';

.contactView {
  flex: 1;
  width: 100%;
  min-height: 100%;
  font-weight: 500;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1em;

}

.header {
  width: 100%;
  max-width: 600px;
}
.formWrap {
  width: 100%;
  max-width: 800px;
}

.formHeader {}

.rowWrap {
  width: 100%;
  @include flexBox(row, wrap, flex-start, space-between);

}

.textInput {
  height: 100%;
  max-width: 375px;
  // margin-bottom: 1em;
  // border: 1px solid red;
}
