@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.calendar {
  @include flexBox(row, nowrap, center, flex-start);
  flex: 1;
  // height: 70px;
  height: 100%;
  width: 100%;
  // border: 10px solid black;
  // width: 75px;
  // min-width: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  // background: $white;
}

.dayCol {
  height: 100%;
  // border-right: 1px solid grey;
  // background: darken($bg, 20%);
  @include flexBox(column, nowrap, center, flex-start);
}

.dayHeader {
  @include flexBox(row, nowrap, center, center);
  height: 20px;
  font-size: 0.8em;
  padding-top: 2px;
}
