@import '../../../style/colors.scss';
@import '../../../style/mixins.scss';

.confirmView {
  width: 100%;
  min-height: 100%;
  font-weight: 500;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.loadingView {
  @include flexBox(row, nowrap, center, center);
  width: 100%;
  min-height: 100%;
  flex: 1;
  height: 100%;
  padding: 2em 1em;
}

.header {
  @include flexBox(row, nowrap, center, flex-start);
  min-height: 50px;
  min-width: 100%;
  padding: 0 1em;
}

.detailsWrap {
  @include flexBox(column, nowrap, flex-start, flex-start);
}

.userDetails {
  flex: 1;
  padding: 1em;
  @include flexBox(column, nowrap, flex-start, flex-start);
  width: 100%;
}


.reservationDetails {
  width: 100%;
  padding-bottom: 0;

  @media (min-width: 600px) {
    padding: 1em;
  }
}


.info {
  @include flexBox(column, nowrap, flex-start, flex-start);

  font-weight: 300;
  font-size: 0.8em;
  padding: 1em;

  > h3 {
    padding: 1em;
  }
}

.total {
  font-weight: 500;
  > span {
    opacity: 0.8;
  }
}

.keySpan {
  font-weight: 400;
  font-size: 0.8em;
  margin-right: 1em;
}

.recapWrap {
  padding: 0 1em;
  @include flexBox(row, nowrap, flex-start, flex-end);
  overflow: hidden;
  margin-bottom: 2em;
}

.confirmBtnWrap {
  padding: 1em;
}

.cabinHelpText {
  font-size: 0.6em;
  font-weight: 400;
  opacity: 0.7;
  padding: 1em 1.5em;
}



// new
.grandTotal {
  @include flexBox(column, nowrap, flex-end, flex-start);
  padding: 1em;
  @media (min-width: 900px) {
    padding: 1em 2em;
  }
}

.grandTotal > .net, .grandTotal > .tax, .grandTotal > .total, .grandTotal > .depositSection {
  @include flexBox(row, nowrap, center, flex-end);
  line-height: 1.6;
  padding: 0 5px;
}

.grandTotal > .net {
  font-size: 0.8em;
}
.grandTotal > .tax {
  border-bottom: 1px dotted grey;
  font-size: 0.8em;
  opacity: 0.8;
  > .totalKey {
    font-size: 0.9em;
  }
}

.totalVal {
  width: 100px;
  text-align: right;
}

.depositSection {
  margin: 1em 0;
  border: 2px solid $primary;
  border-radius: 2px;
}
