@import '../../../style/colors.scss';
@import '../../../style/mixins.scss';

.confirmView {
  width: 100%;
  // height: 100%;
  min-height: 100%;
  font-weight: 500;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.loadingView {
  @include flexBox(row, nowrap, center, center);
  width: 100%;
  min-height: 100%;
  flex: 1;
  height: 100%;
  // min-height: 400px;
  padding: 2em 1em;
  // border: 4px solid skyblue;
}

.header {
  @include flexBox(row, nowrap, center, flex-start);
  min-height: 50px;
  min-width: 100%;
  padding: 0 1em;
}

.detailsWrap {
  @include flexBox(column, nowrap, flex-start, flex-start);
}

.userDetails {
  flex: 1;
  padding: 1em;
  @include flexBox(column, nowrap, flex-start, flex-start);
  width: 100%;
}


.reservationDetails {
  width: 100%;
  // height: 100%;
  padding-bottom: 0;
  // @include flexBox(column, nowrap, flex-start, flex-start);

  @media (min-width: 600px) {
    padding: 1em;
  }
}

.datesList, .aboutCabin {
  font-weight: 300;
  @include flexBox(row, wrap, center, flex-start);
  width: 100%;
}

.datesList {
  padding: 0 1em 1em;
}

.dateItem {
  width: 60px;
  @include flexBox(column, nowrap, space-between, center);
  border: 1px solid darken(lightgrey, 5%);
  border-radius: 1px;
  // paddi: 5px;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 10px;
  font-family: monospace;
  background: lighten(lightgrey, 15%);
  > .dateItemDate {
    color: $primary;
    font-size: 1.3em;
    // font-style: bold;
    letter-spacing: -3px;
  }
  > .dateItemDay {
    font-size: 0.7em;
    font-weight: 400;

    color: darken(lightgrey, 14%);
    border: 1px solid darken(lightgrey, 5%);
    margin: 0px 5px 5px;
    background: $white;
  }
}

.aboutCabin {
  @include flexBox(row, nowrap, center, space-between);
  border: 1px solid black;
}

.datesList {
  > span {
    margin: 4px;
  }
}

.info {
  // line-height: 1.6;
  // font-size: 0.8em;
  @include flexBox(column, nowrap, flex-start, flex-start);

  font-weight: 300;
  // font-size: 0.75em;
  font-size: 0.8em;
  padding: 1em;
  @media (min-width: 900px) {
    // padding: 1em 2em;
  }

  > h3 {
    padding: 1em;
  }
}

.total {
  font-weight: 500;
  > span {
    opacity: 0.8;
  }
}

.keySpan {
  font-weight: 400;
  font-size: 0.8em;
  margin-right: 1em;
}

.confirmBtnWrap {
  padding: 1em;
}

.cabinHelpText {
  font-size: 0.6em;
  font-weight: 400;
  opacity: 0.7;
  padding: 1em 1.5em;
}



// new
.grandTotal {
  @include flexBox(column, nowrap, flex-end, flex-start);
  padding: 1em;
  @media (min-width: 900px) {
    padding: 1em 2em;
  }
}

.grandTotal > .net, .grandTotal > .tax, .grandTotal > .total {
  @include flexBox(row, nowrap, center, flex-end);
  line-height: 1.6;
  padding: 0 5px;
}

.grandTotal > .net {
  // border: 1px solid orange;
  font-size: 0.8em;
}
.grandTotal > .tax {
  border-bottom: 1px dotted grey;
  font-size: 0.8em;
  opacity: 0.8;
  > .totalKey {
    font-size: 0.9em;
  }
}
.grandTotal > .total {
  // border: 1px solid pink;
}
.totalKey {
  // border: 1px solid orange;
  // width: 100px;
}
.totalVal {
  // margin-left: 1em;
  width: 100px;
  // border: 1px solid magenta;
  text-align: right;
}
