@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.calendar {
  @include flexBox(row, nowrap, flex-start, flex-start);
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.calHeader {
  height: 26px;
  width: 100%;
  background: white;
  @include flexBox(row, nowrap, center, flex-start);
}

.calendarCol {
  @include flexBox(row, nowrap, flex-start, flex-start);
  width: 100%;
  min-height: 100%;
  overflow-x: scroll;
}

.cabinCol {
  @include flexBox(column, nowrap, center, flex-start);
  width: 100px;
  max-width: 100px;
  height: 100%;
  background: black;
}

.dayCol {
  position: relative;
  height: 100%;
  padding-top: 26px;
  // width: 80px;
  // border-right: 1px solid grey;
  // background: darken($bg, 20%);
  @include flexBox(column, nowrap, center, flex-start);
}

.cabinHeader {
  width: 100px;
  min-width: 100px;
  min-height: 26px;
}

.dayHeader {
  position: absolute;
  top: 0;
  @include flexBox(row, nowrap, center, center);
  // width: 100%;
  min-width: 80px;
  max-width: 80px;
  // width: 80px;
  // border: 1px solid red;
  height: 26px;
  font-size: 0.8em;
  padding-top: 2px;
}
