@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.cabin {
  // border: 1px solid white;
  // position: relative;
  @include flexBox(column, nowrap, center, flex-end);
  // background: #313131;
  // min-height: 60px;
  height: 60px;
  // width: 100%;
  // min-width: 90px;
  width: 100%;
  // height: 80px;
  // overflow: hidden;
  // flex: 1;
  // background: orange;
  // border-bottom: 1px solid grey;
}


.cabinTitle {
  width: 100%;
  height: 4px;
  background: $white;
  border-bottom: 1px solid grey;
  > div {
    @include flexBox(row, nowrap, center, center);
    font-size: 0.9em;
    width: 20px;
    height: 20px;
    background: $white;
    transform: translateY(-20px);
  }

}
