@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.appHeader {
  @include flexBox(row, nowrap, center, space-between);
  background: $primary;
  height: 50px;
  min-height: 50px;
  width: 100%;

  border-bottom: 1px solid darken($primary, 8%);

  > .title {
    padding: 0 1em;
  }
}

.toolBar {
  @include flexBox(row, nowrap, center, flex-end);
}

.datePicker {
  @include flexBox(row, nowrap, center, flex-start);
  max-width: 90px;
  overflow: hidden;
  height: 100%;

  > input {
    border: none;
  }

}
