@import '../../../style/colors.scss';
@import '../../../style/mixins.scss';

.successView {
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 5px 1em;
}

.successMessage {
  margin: 0 auto;
  max-width: 500px;
}

.viewTitle {
  @include flexBox(row, wrap, center, center);
  font-weight: 500;
  margin: 1em 0;
  font-size: 2em;
  color: #1dab53;

  > span {
    margin-right: 10px;
    font-size: 30px;
  }
}

.nextStep {
  @include flexBox(column, wrap, center, center);
  font-weight: 500;
  text-align: center;
  > span {
    font-size: 0.8em;
    padding-left: 0.5em;
    margin-top: 5px;
    font-weight: 300;
  }
  padding: 0.5em 0;
}


.contactDetails {
  margin: 2em 0;
  @include flexBox(column, wrap, center, center);
  font-size: 0.8em;

  a {
    color: darken($primary, 5%);
    font-weight: 500;
    line-height: 2;
  }
}
